h1 {
	text-decoration:none;
	color:0080ff;
	font-family: Courier;
	font-size:100px;
	position:relative;
  	-webkit-mask-image:-webkit-gradient(linear,left top,left bottom,from (rgba(0,0,0,1)),color-stop(50%),rgba(0,0,0,0,)),
	to (rgba(0,0,0,1))
	text-shadow:0 2px 0 #E9E9E9;
	-webkit-transition:all.3s;
	-moz-transition:all.3s;
	transition:all.3s;
}

h1:hover{
	color:#185A50;
	-webkit-mask-image:-webkit-gradient(linear,left top, left bottom, from (rgba(0,0,0,1)),color-stop
	(50%,rgba(0,0,0,.3)), to (rgba(0,0,0,1)));
}
h1:after{ 
color:#dbdbdb;
content:attr(data-title);
}

h2 {
	position:relative;
	font-size:100px;
	margin-top:0;
	font-family: Arial;
	text-shadow: 2px 3px 4px #292929;
	letter-spacing: -7px;
	webkit-text-stroke:1px white;
	moz-kit-text-stroke:1px white;
}
